RAW_EXTRACTOR_CONFIG='{"host": "localhost", "port": 5432, "dbname": "test_db", "user": "postgres", "password": "postgres"}''
RAW_LOADER_CONFIG='{"host": "127.0.0.1", "port": 27017}'
UPDATE_ROW=created_at